@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e1e1e1;
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
